{% extends 'base.html.twig' %}

{% block title %}Sweatshirt {{ product.name }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{# <div>

    


</div> #}

<div class="container border d-flex flex-row justify-content-evenly mt-5 pt-4">
    <div>
        <img src="{{ asset('uploads/' ~ product.image) }}" style="height: 40em;" />
    </div>

        <div class="mt-5">
            <form action="{{ path('cart_add', {'id': product.id}) }}" method="get">
                <div class="d-flex flex-row">
                    <div class="me-5">
                        <h5 class="pb-5"> {{ product.name }} <h5>
                        <p> {{ product.price|number_format(2, ',', ' ') }}</p>
                    </div>
                    <div class="d-flex flex-column ms-5">
                        <label class="border border-bottom-0 border-2 text-center fs-4 fw-semibold" for="size">Taille</label>
                        <select class="border border-2" style="width:8rem;" name="size" id="size" size="5">
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M" selected>M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-light border border-3 border-black mt-5"
                    style="--bs-btn-padding-y: 1rem; --bs-btn-padding-x: 6rem; --bs-btn-font-size: 1.3rem;">Ajouter au panier</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
