{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="container mt-5">
        <div class="row d-flex flex-row justify-content-start align-items-start g-4">
            <aside class="col-12 col-md-3 mx-auto">
                <form method="GET" action="{{ path('products') }}" class="my-4 pb-4" id="price-filter-form">
                    <label for="price_range" class="form-label">Fourchette de prix</label>
                    <select id="price_range" name="price_range" class="form-select" size="3">
                        <option value="10-29.99" {{ app.request.query.get('price_range') == '10-29' ? 'selected' : '' }}>10 à 29.99 €</option>
                        <option value="30-35.99" {{ app.request.query.get('price_range') == '30-35' ? 'selected' : '' }}>30 à 35.99 €</option>
                        <option value="35-50.99" {{ app.request.query.get('price_range') == '35-50' ? 'selected' : '' }}>35 à 50.99 €</option>
                    </select>
                    {# <button type="submit" class="btn btn-dark mt-3">Filtrer</button> #}
                </form>
            </aside>
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4"> <!-- Gestion responsive -->
                    <div class="card shadow">
                        <img class="card-img-top p-4 border-bottom" src="{{ asset('uploads/' ~ product.image) }}" alt="{{ product.name }}" />
                        <div class="card-body mb-4 d-flex flex-column flex-lg-row justify-content-between">
                            <div class="text-center">
                                <p class="card-title fw-bold">{{ product.name }}</p>
                                <p class="card-text">Prix: {{ product.price|number_format(2, ',', ' ') }}€</p>
                            </div>
                            <a class="fw-bold py-2 px-5 btn btn-dark mt-3" href="{{ path('product_detail', {id: product.id}) }}">Voir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
<script>
    document.getElementById('price_range').addEventListener('change', function() {
        this.form.submit();
    });
</script>
{% endblock %}
