{% extends 'base.html.twig' %}

{% block title %}Ajouter / Modifier un Sweat-shirt{% endblock %}

{% block body %}
    <h1>Ajouter / Modifier un Sweat-shirt</h1>

    {{ form_start(form) }}
        <div>
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.highlighted) }}
            {{ form_row(form.image) }}
        </div>

        <h2>Stock par Taille</h2>
        {% for size in sizes %}
            <div>
                <label for="stock_{{ size.id }}">Taille {{ size.sizeLabel }}</label>
                {{ form_row(form.stocks[loop.index0].quantity) }}
            </div>
        {% endfor %}

    {{ form_end(form) }}
    {% if product.image %}
        <h3>Image du produit</h3>
        <img src="{{ asset('uploads/' ~ product.image) }}" alt="Image du produit" width="200" />
    {% endif %}
{% endblock %}