{% extends 'base.html.twig' %}

{% block title %}Liste des Sweat-shirts{% endblock %}

{% block body %}
    {# <div class="container">
            {{ form_start(form) }}
        <div>
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.highlighted) }}
            {{ form_row(form.image) }}
        </div>

        <h2>Stock par Taille</h2>
        {% for size in sizes %}
            <div>
                <label for="stock_{{ size.id }}">Taille {{ size.sizeLabel }}</label>
                {{ form_row(form.stocks[loop.index0].quantity) }}
            </div>
        {% endfor %}

    {{ form_end(form) }}
    {% if product.image %}
        <h3>Image du produit</h3>
        <img src="{{ asset('uploads/' ~ product.image) }}" alt="Image du produit" width="200" />
    {% endif %}
    </div>
    <h1>Liste des Sweat-shirts</h1>

    <a href="{{ path('sweatshirt_new') }}">Ajouter un Sweat-shirt</a>

    <ul>
        {% for product in products %}
            <li>
            {% if product.highlighted %}
                Nom: {{ product.name }} - Prix: {{ product.price }} € - Mis en avant
            {% else %}
                Nom: {{ product.name }} - Prix: {{ product.price }} €
            {% endif %}

                <a href="{{ path('sweatshirt_edit', {id: product.id}) }}">Modifier</a>
                <form action="{{ path('sweatshirt_delete', {'id': product.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer ce sweatshirt ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                    <button type="submit" class="btn">Supprimer</button>
                </form>
            </li>
        {% endfor %}
    </ul> #}
    <div class="container bg-danger bg-gradient border border-3 border-dark px-2 py-4 my-3">
        {{ form_start(createForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
        
        <div class="d-flex flex-row align-items-center">
            <div class="me-3">
                {{ form_row(createForm.image, {label: 'image au format PNG/JPEG','attr':{'class': 'd-flex flex-column '}}) }}
            </div>

            <div class="d-flex flex-column flex-grow-1">
                <div class="d-flex flex-row mb-2 justify-content-evenly">
                        {{ form_row(createForm.name, {'attr': {'placeholder': 'Nom'}}) }}
                        {{ form_row(createForm.price, {'attr': {'placeholder': 'Prix'}}) }}
                        {{ form_row(createForm.highlighted) }}
                </div>

                <div class="d-flex flex-row justify-content-between">
                    {% for stockField in createForm.stocks %}
                        <div class="me-2 text-center">
                            <label class="form-label">{{ stockField.vars.size_label }}</label>
                            {{ form_widget(stockField.quantity, {'attr': {'placeholder': 'Stock', 'style': 'width:5rem;'}}) }}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-light border mt-3 align-self-end" style="width: 15rem;">AJOUTER</button>
            </div>
        </div>
        {{ form_end(createForm) }}
    </div>

{%for product in products %}
    <div class="container border border-3 border-dark p-4 my-3">
        {{ form_start(editForms[product.id], {'action': path('sweatshirt_edit', { id: product.id }), 'method': 'POST'}) }}
            <div class="d-flex flex-row align-items-center">
                <div class="d-flex flex-column">
                    <img src="{{ asset('uploads/' ~ product.image) }}" width="100" />
                    {{ form_row(editForms[product.id].image, {
                        label: 'image au format PNG/JPEG','attr':{'class': 'd-flex flex-column '}
                    }) }}
                </div>
                <div class="d-flex flex-column flex-grow-1">
                    <div class="d-flex flex-row mb-2 justify-content-evenly">
                        {{ form_row(editForms[product.id].name) }}
                        {{ form_row(editForms[product.id].price) }}
                        {{ form_row(editForms[product.id].highlighted)}}
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        {% for stockField in editForms[product.id].stocks %}
                            <div class="me-2 text-center">
                                <label class="form-label">{{ stockField.vars.size_label }}</label>
                                {{ form_widget(stockField.quantity, {'attr': {'placeholder': 'Stock', 'style': 'width:5rem;'}}) }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="d-flex flex-row-reverse gap-5 px-5">
                        <button type="submit" class="btn btn-light border mt-3 align-self-end" style="width: 15rem;">MODIFIER</button>
                        {{ form_end(editForms[product.id] )}}
                        <form action="{{ path('sweatshirt_delete', {'id': product.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer ce sweatshirt ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                            <button type="submit" class="btn btn-light border mt-3 align-self-end" style="width: 15rem;">SUPPRIMER</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
{% endfor %}
    {# {% for product in products %}
        <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
            <h3>{{ product.name }}</h3>
            <p>Image : <img src="{{ asset('uploads/' ~ product.image) }}" width="100"></p>

            <!-- Formulaire d'édition -->
            <h4>Modifier ce sweatshirt</h4>
            {{ form_start(editForms[product.id], {'action': path('sweatshirt_edit', { id: product.id }), 'method': 'POST'}) }}
                {{ form_widget(editForms[product.id]) }}
            {{ form_end(editForms[product.id]) }}
        </div>
    {% endfor %} #}
{% endblock %}