{%extends 'base.html.twig' %}

{% block title %} Detail {{ product.name }} {% endblock %}

{% block body %}
    <h1>Nom: {{ product.name }}</h1>
    <h3>Price: {{ product.price }} </h3>
    {% if product.highlighted %}
        <h3>Le produit est mis en avant</h3>
    {% else %}
        <h3>Le produit n'est pas mis en avant</h3>
    {% endif %}
    <img src="{{ asset('uploads/' ~ product.image) }}" />
    {% for size in sizes %}
        <div>
            <label for="stock_{{ size.id }}">Taille {{ size.sizeLabel }}</label>
                {{ product.stocks[loop.index0].quantity }}
        </div>
    {% endfor %}

{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Liste des Sweat-shirts{% endblock %}

{% block body %}
    <h1>Liste des Sweat-shirts</h1>
    <div>
            {{ form_start(form) }}
        <div>
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.highlighted) }}
            {{ form_row(form.image) }}
        </div>

        <h2>Stock par Taille</h2>
        {% for size in sizes %}
            <div>
                <label for="stock_{{ size.id }}">Taille {{ size.sizeLabel }}</label>
                {{ form_row(form.stocks[loop.index0].quantity) }}
            </div>
        {% endfor %}

    {{ form_end(form) }}
    </div>

    {# <a href="{{ path('sweatshirt_new') }}">Ajouter un Sweat-shirt</a> #}

    <ul>
        {% for product in products %}
            <li>
            {# {% if product.highlighted %}
                Nom: {{ product.name }} - Prix: {{ product.price }} € - Mis en avant
            {% else %}
                Nom: {{ product.name }} - Prix: {{ product.price }} €
            {% endif %} #}
                <h3>{{ product.name }}</p>
                {{ form_start(form) }}
                <div>
                    {{ form_row(form.name) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.highlighted) }}
                    {{ form_row(form.image) }}
                </div>

                  <h2>Stock par Taille</h2>
                    {% for size in sizes %}
                        <div>
                            <label for="stock_{{ size.id }}">Taille {{ size.sizeLabel }}</label>
                            {{ form_row(form.stocks[loop.index0].quantity) }}
                        </div>
                    {% endfor %}

                {{ form_end(form) }}
                {# <a href="{{ path('sweatshirt_edit', {id: product.id}) }}">Modifier</a> #}
                <form action="{{ path('sweatshirt_delete', {'id': product.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer ce sweatshirt ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                    <button type="submit" class="btn">Supprimer</button>
                </form>
            </li>
        {% endfor %}
    </ul>

{% endblock %}