{% extends 'base.html.twig' %}

{% block title %}Liste des Sweat-shirts{% endblock %}

{% block body %}
    <h1>Liste des Sweat-shirts</h1>

    <a href="{{ path('sweatshirt_new') }}">Ajouter un Sweat-shirt</a>

    <ul>
        {% for product in products %}
            <li>
            {% if product.highlighted %}
                Nom: {{ product.name }} - Prix: {{ product.price }} € - Mis en avant
            {% else %}
                Nom: {{ product.name }} - Prix: {{ product.price }} €
            {% endif %}
                <a href="{{ path('sweatshirt_details', {id: product.id}) }}">Voir les details</a>
                <a href="{{ path('sweatshirt_edit', {id: product.id}) }}">Modifier</a>
                <form action="{{ path('sweatshirt_delete', {'id': product.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer ce sweatshirt ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                    <button type="submit" class="btn">Supprimer</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}