{%extends 'base.html.twig' %}

{% block title %} Detail {{ product.name }} {% endblock %}

{% block body %}
    <h1>Nom: {{ product.name }}</h1>
    <h3>Price: {{ product.price }} </h3>
    {% if product.highlighted %}
        <h3>Le produit est mis en avant</h3>
    {% else %}
        <h3>Le produit n'est pas mis en avant</h3>
    {% endif %}
    <img src="{{ asset('uploads/' ~ product.image) }}" />
    {% for size in sizes %}
        <div>
            <label for="stock_{{ size.id }}">Taille {{ size.sizeLabel }}</label>
                {{ product.stocks[loop.index0].quantity }}
        </div>
    {% endfor %}

{% endblock %}