<header>
    <nav class="navbar navbar-expand-sm bg-body-primary">
        <div class="container-fluid d-flex justify-content-between">
            <a class="link-underline link-underline-opacity-0 link-dark" href='{{ path('app_home')}}' >
                <img width="200" src="{{ asset('Logo.png') }}" alt="logo" />
                <p class="ms-5 ">Don't compromise on your look</p>
            </a>


            <div class="" >
                <ul class="navbar-nav ms-auto d-flex flex-row">
                    <li class="nav-item px-3 px-1">
                         <a class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %}fw-bold text-decoration-underline{% endif %}"
                        href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item px-3 px-1">
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'products' %}fw-bold text-decoration-underline{% endif %}" 
                            href="{{ path('products') }}">Boutique</a>
                        </li>
                        <li class="nav-item px-3 px-1">
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'cart_show' %}fw-bold text-decoration-underline{% endif %}" 
                            href="{{ path('cart_show') }}">Panier</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item px-3 px-1">
                                <a class="nav-link {% if app.request.attributes.get('_route') == 'admin' %}fw-bold text-decoration-underline{% endif %}" 
                                href="{{ path('admin') }}">Administration</a>
                            </li>
                        {% endif %}
                        <li class="nav-item px-3 px-1">
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'app_logout' %}fw-bold text-decoration-underline{% endif %}" 
                            href="{{ path('app_logout') }}">Se deconnecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item px-3 px-1">
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'app_register' %}fw-bold text-decoration-underline{% endif %}" 
                            href="{{ path('app_register') }}">S'inscrire</a>
                        </li>
                        <li class="nav-item px-3 px-1">
                            <a class="nav-link {% if app.request.attributes.get('_route') == 'app_login' %}fw-bold text-decoration-underline{% endif %}" 
                            href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>